/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug {
    border: 1px solid black;
    min-height: 100px;
}

/* background-color sections */
header {
    background-color: #ff6808;
}

main {
    background-color: #ffffff;  
}

footer {
    background-color: #191919;
}

/* start header content*/
.contnav {
    width: 80%;
    margin: 0 auto;
}

/* nav */
.logo {
    height: 30px;
}

li {
    list-style: none;
}

li a {
    text-decoration: none;
    color: white;
}

/* star flexbox */
.flexnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav.contnav {
    padding: 15px 0;
}

.genere {
    min-width: 150px;
}

.icone {
    min-width: 60px;
}