/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug {
    border: 1px solid black;
    min-height: 100px;
}

:root {
    --heart: black;
    --background: #ffffff;
    --header: #ff6808;
    --footer: #191919;
    --discount: red;
    --sost: green;
    --like: red;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

/* background-color sections */
header {
    background-color: var(--header);
}

main {
    background-color: var(--white);  
}

footer {
    background-color: var(--footer);
}

/* start header content*/
.contnav {
    width: 80%;
    margin: 0 auto;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
}

/* nav */
.logo {
    height: 30px;
}

li {
    list-style: none;
}

li a {
    text-decoration: none;
    color: white;
    margin-right: 15px;
}

/* start flexbox */
.flexnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav.contnav {
    padding: 15px 0;
}

/* start main */
main {
    width: 80%;
    margin: 100px auto;
}

.row-flex {
    display: flex;
    margin-bottom: 100px;
}

.col {
    width: calc(100% / 3);
    position: relative;
    cursor: pointer;
}

.col img {
    width: 100%;
}

.margin {
    margin: 0 25px;
}

/* symbol heart */
.heart {
    position: absolute;
    top: 10px;
    right: 0;
    color: var(--heart);
    width: 40px;
    text-align: center;
    font-size: 30px;
    background-color: var(--background);
}

/* label discount */
.label {
    position: absolute;
    bottom: 50px;
    left: 0;
    color: var(--background);
    width: 50px;
    text-align: center;
    font-size: 15px;
    background-color: var(--discount);
    padding: 5px 0;
}

/* label sostenibilita*/
.label-sost {
    position: absolute;
    bottom: 50px;
    left: 55px;
    color: var(--background);
    width: 100px;
    text-align: center;
    font-size: 15px;
    background-color: var(--sost);
    padding: 5px 0;
}

/* description */
.descr {
    position: absolute;
    bottom: -50px;
    left: 0
}
.brand {
    font-size: 12px;
}

.descr-text {
    font-size: 16px;
    font-weight: bold;

}
/* price */
.prezzo {
    font-size: 14px;
    font-weight: bold;
    color: var(--discount);
}

.prezzo-prima {
    font-size: 14px;
    text-decoration: line-through;
}

.label-sost2 {
    position: absolute;
    bottom: 50px;
    left: 0px;
    color: var(--background);
    width: 100px;
    text-align: center;
    font-size: 15px;
    background-color: var(--sost);
    padding: 5px 0;
}

/* heart like */
.heart:hover {
    cursor: pointer;
    color: var(--like);
}

/* hover sulla col */
.lontano {
    display: none;
}

.col:hover .vicino {
    display: none;
}

.col:hover .lontano {
    display: inline-block;
}

/* footer */
.flex-footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    margin: 0 auto;
    padding: 30px 0;
    color: var(--background);
}

.info span {
    font-weight: bold;
    font-size: 18px;
}

.info-link {
    margin-top: 5px;
}

.info-link a {
    color: var(--background);
    margin-right: 15px;
    text-decoration: none;
}

.info-dx span {
    font-weight: bold;
    font-size: 15px;
}

.icone-social {
    font-size: 20px;
    padding: 10px 0;
}